@font-face {
  font-family: 'PatagoniaRegular';
  src: url("Patagonia/Patagonia-webfont.eot");
  src: url("Patagonia/Patagonia-webfont.eot?#iefix") format("embedded-opentype"), url("Patagonia/Patagonia-webfont.woff") format("woff"), url("Patagonia/Patagonia-webfont.ttf") format("truetype"), url("Patagonia/Patagonia-webfont.svg#PatagoniaRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* HTML resets */
body, html, div, p, img, h1, h2, h3, h4, h5, h6, ol, ul, li {
  padding: 0;
  font-weight: normal;
  font-size: 100%;
  outline: none;
  border: none; }

/* HTML5 block elements */
header, section, article, footer, aside, nav {
  display: block; }

/* Put your styles below here */
#wrapper {
  margin: 0 auto;
  width: 900px;
  padding: 0 20px;
  text-align: center;
  margin-top: 200px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; }


header {
  padding: 0;
  top: 0;
  border-bottom: 1px dotted;
  width: 670px;
  background-color: #fff;
  font-family: "PatagoniaRegular", "Helvetica Neue", Helvetica, arial, sans-serif;
  text-transform: uppercase; 
  margin: 0 auto; }
  header #logo {
    margin: 30px 0 5px 0;
    font-size: 4.7em; }

nav li {
  display: inline;
  text-transform: lowercase;
  font-size: 2em;
  margin-left: 35 px;
}

article {
  min-height: 400px; }

footer {
  clear: both;
  color: gray;
  font-size: 0.75em; }

nav, footer {
  margin: 20px 0; }

/* Typesetting */
h1, h2, h3, h4, h5, h6 {
  margin: 1.25em 0; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.9em; }

a {
  color: #256ec4; }

p {
  font-size: 1.08em;
  line-height: 140%;
  margin-bottom: 10px;
  color: #333; }

figure {
  margin: 0; }

img {
  margin: 15px 0;
  max-width: 750px; }


.clear {
  clear: both; }