@font-face {
  font-family: 'PatagoniaRegular';
  src: url("fonts/Patagonia/Patagonia-webfont.eot");
  src: url("fonts/Patagonia/Patagonia-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Patagonia/Patagonia-webfont.woff") format("woff"), url("fonts/Patagonia/Patagonia-webfont.ttf") format("truetype"), url("fonts/Patagonia/Patagonia-webfont.svg#PatagoniaRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* HTML resets */
body, html, div, p, img, h1, h2, h3, h4, h5, h6, ol, ul, li {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 100%;
  outline: none;
  border: none; }

/* HTML5 block elements */
header, section, article, footer, aside, nav {
  display: block; }

/* Put your styles below here */
#wrapper {
  margin: 0 auto;
  width: 900px;
  padding: 0 20px; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; }

header {
  padding: 0;
  position: fixed;
  top: 0;
  border-bottom: 1px dotted #666;
  width: 970px;
  background-color: #fff;
  font-family: "PatagoniaRegular", "Helvetica Neue", Helvetica, arial, sans-serif;
  text-transform: uppercase; }
  header #logo {
    margin: 30px 0 10px 0;
    font-size: 2.6em; }
    header #logo a {
      color: #000;
      text-decoration: none; }

#navigation {
  width: 150px;
  top: 100px;
  position: fixed;
  display: inline-block;
  margin-right: 20px; }
  #navigation .title {
    font-family: "SilkscreenNormal", Helvetica, Arial, Geneva, sans-serif;
    font-size: 1.5em; }
  #navigation .email {
    margin-top: 25px; }
  #navigation a {
    color: black;
    text-decoration: none;
    display: block;
    line-height: 1.7em; }
  #navigation a:hover {
    text-decoration: underline; }

nav li {
  display: inline;
  list-style-type: none;
  text-transform: lowercase; }

article {
  margin-left: 170px;
  margin-top: 120px;
  min-height: 400px; }

footer {
  clear: both;
  color: gray;
  font-size: 0.75em; }

nav, footer {
  margin: 20px 0; }

/* Typesetting */
h1, h2, h3, h4, h5, h6 {
  margin: 1.25em 0; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.9em; }

a {
  color: #256ec4; }

p {
  font-size: 1.08em;
  line-height: 140%;
  margin-bottom: 10px;
  color: #333; }

figure {
  margin: 0; }

img {
  margin: 15px 0;
  max-width: 750px; }


.clear {
  clear: both; }