<!DOCTYPE html>
<html lang="en">
  {% include "shared/head" %}
  <body id="{{slug}}">
    <section id="wrapper">
      {% include "shared/header" %}	
	  
	    <article>
		    <section role="main">
		      <ul class="shirts">
		      	{% for shirt in children reversed %}
		      	<li>
		      		<ul class="pictures">
		      			{% for image in shirt.images %}
		      				<li><img src="{{ image.path }}" /></li>
		      			{% endfor %}
		      		</ul>
		      		{{ shirt.body }}
		      	</li>
				{% endfor %}
		      </ul>
		    </section>
	    </article>
	
      {% include "shared/footer" %}
    </section>
    {% include "shared/analytics" %}
  </body>
</html>