{{ define "main" }}
    <ul>
        {{ range .Pages }}
        <li>
            {{ if eq .Section "projects" }}
            <span class="list-date">{{ .Date.Format "2006" }}</span>
            {{ else }}
            {{ if ne .Section "projects" }}
            <time class="list-date">{{ .Date.Format "Jan 02, 2006" }}</time>
            {{ end }}
            {{ end }}
            <a href="{{ .Permalink }}">
                {{ .Title }}
            </a>
        </li>
        {{ end }}
    </ul>
{{ end }}
