<div id="navigation" class="span4">
  <ul class="nav nav-pills">

      <li><a href="/projects">projects</a></li>
      <li><a href="/shirts">shirts</a></li>
      <li><a href="/resume">resume</a></li>
  </ul>
</div>
