@charset "UTF-8";

* {
    min-height: 0;
    min-width: 0;
    box-sizing: border-box;
    transform-origin: 0px 0px 0px;
}

p:blank, li:blank, div:blank, section:blank {
    display: none;
}

p:empty, li:empty, div:empty, section:empty {
    display: none;
}

p:-moz-only-whitespace, li:-moz-only-whitespace, div:-moz-only-whitespace, section:-moz-only-whitespace {
    display: none;
}

hr {
    border-top:1px dotted;
}

/* Page Variables */

:root {
    --main-width: 72%;
    --header-height: 1.2in;
    --sidebar-width: calc(100% - var(--main-width));
}

body {
    font-size: 1em;
    margin: 0 auto;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeLegibility;
    text-decoration-skip: ink;
    hyphens: none;
}

#save > section:first-of-type {
    display: flex;
    flex-direction: row;
}

/* Misc */

img {
    max-width: 100%;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

abbr[title] {
    text-decoration: none;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li + li {
    margin-top: 0.4em;
}

.fa, .fab {
    text-align: center;
    min-width: 1em;
}

li .fa, li .fab {
    margin-right: 0.3em;
}

/* Page layout */
#save > section:first-of-type > aside {
    flex-basis: var(--sidebar-width);
    padding: 0.3618in 0 0.3618in 0.3618in;
    display: flex;
    flex-direction: column;
}

#save > section:first-of-type > aside > section + section {
    margin-top: 2em;
}

#save > section:first-of-type > aside > section:last-child {
    margin-top: 50;
} 

#save > section:first-of-type > section {
    flex-basis: var(--main-width);
    display: flex;
    flex-direction: column;
}

#save > section:first-of-type > section > header {
    flex-basis: var(--header-height);
    flex-grow: 0;
    padding: 0.1618in;
}

#save > section:first-of-type > section > section {
    flex-grow: 1;
    padding: 0.1618in;
    display: flex;
    flex-direction: column;
}

#save > section:first-of-type > section > section > section + section {
    margin-top: 2em;
}

#save > section:first-of-type > section > section > section:last-child {
    margin-top: auto;
}

/* Skills */

.skills > ul:after {
    content: '';
    display: table;
    clear: both;
}

.skills > ul > li {
    display: block;
    background-color: white;
    float: left;
    margin: 6px 0px 0px 6px;
}

.nl {
    margin-right: 20px;
}

.skills > ul > li > span, .skills > ul > div > li > span {
    background-color: white;
    border: 1px solid rgba(45, 45, 45, 0.1618);
    border-radius: 3px;
    color: #333;
    padding: 4px 8px;
    display: inline-block;
}

#newed {
    margin-top:50px;
}

#BS, #sidetime {
    margin-top: 10px;
    font-style: italic;
}

#sidetime {
    font-style: italic;
    display: block;
}

/* Experience & Education */

/*.education, .experience {
    margin-left: 5px;
}*/

.experience ol {
    margin: 0;
    padding: 0;
}

.experience ol {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.experience ol > li {
    margin: 0;
    padding: 0;
    flex-basis: 100%;
    font-weight: 300;
}

.education ol > li {
    font-weight: 300;
    margin-bottom: 60px;
}

.experience ol > li + li {
    margin-top: 1em;
}

.experience ol > li > ul + div {
    margin-top: 1em;
}

.company {
    margin-top: 10px;
}

.title {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

time {
    margin-left: auto;
    margin-right: 25px;
}

.experience ol > li ul {
    padding-top: 0.5em;
}

.experience ol > li ul li {
    list-style-type: square;
    margin-left: 2em;
    font-size: 0.9em;
    max-width: 90%
}